*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    ::selection {
        background:#f56f35;       
        color: #fff;
    }
   
}

.navigation{
    background-color: #fff;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    display: flex;
    justify-content: space-between ;
    border-bottom: 1px solid #ece5e5;
    .logo{
        display: flex;
        .ti-logo{
            background-color: rgb(245, 113, 19);
            color: #fff;
            font-size: 30px;
            padding: 5px;
            border-radius: 12px; 
            margin-left: 20px;
            cursor: pointer;
        }
        p{
            display: block;
            line-height: 40px;
            padding-left: 15px;
            font-weight: 500;
        }
    }
    .search{
        display: flex;
        margin-left: 150px;
        border: 1px solid #e0dcdc;
        border-radius: 25px;
        width: 33%;
        .ti-search{
          display: block;
          color: #989393;
          padding: 10px;
        }
        input{
            display: block;
            border: none;
            width: 85%;
            font-size: 100%;
            outline: none;
        }
    }
    .login{
        width: 33%;
        button{
            display: block;
            float: right;
            cursor: pointer;
            border-style: none;
            padding: 10px;
            border-radius: 12px;
            background-color: rgb(245, 113, 19);
            color: #fff;
            font-size: 100%;
            margin-right: 10%;
            &:hover{
                background-color: rgb(170, 74, 5);
            }
        }
    }
}
.feed{
    position: fixed;
    bottom: 40px;
    left: 25px;
    .ti-feed{
        font-size: 25px;
        padding: 10px;
        background-color: #e3dede;
        border-radius: 50%;
    }
}
.body{
    .menu{
        position: fixed;
        top: 76px;
        width: 8%;
        text-align: center;
        .item-block{
           margin-top: 20px;
            .ti-block{
                background-color: rgb(45, 106, 248);
                color: #fff;
                padding: 10px;
                border-radius: 50%;
                font-size: 20px;
                &:hover{
                    font-size: 30px;
                    padding: 5px;
                    cursor: pointer;
                    
                }
            }
        }
        .link{
            text-decoration: none;
            color: #000;
           
            .item-menu{
                padding: 10px;
                margin: 10px;
                border-radius: 16px;
                &.active{
                    background-color: #e0dddd;
                    &:hover{
                        background-color: #e0dddd;
                    }
                }
                &:hover{
                    background-color: #f5f0f0;
                    cursor: pointer;
                    .ti-menu{
                        color: #2a2828;
                    }
                }
                .ti-menu{
                    font-size: 20px;
                    color: #444242;
                }
                p{
                    font-size: 13px;
                }
            }   
        }
    }
    
}
.footer{
    margin-top: 125px;
    background-color: #04040e;
    color: #fff;
    padding: 20px 0;
    font-size: 15px;
    .list-footer{
        display: flex;
        margin: 5% 10%;
        justify-content: space-between;
        .info{
            width: 30%;
            .info-title{
                display: flex;
                .ti-logo{
                    background-color: rgb(245, 113, 19);
                    color: #fff;
                    font-size: 30px;
                    padding: 5px;
                    border-radius: 12px; 
                    cursor: pointer;
                }
                p{
                    display: block;
                    line-height: 40px;
                    padding-left: 15px;
                    font-weight: 500;
                    font-size: 20px;
                }
            }
            ul{
                margin: 40px 0;
                li{
                    list-style: none;
                    margin: 10px 0;
                    a{
                        text-decoration: none;
                        color: #fff;
                        cursor: pointer;
                        &:hover{
                            color: #dfd9d9;
                        }
                    }
                }
            }
            img{
                margin-top: 50px;
            }
        }
        .table{
            width: 30%;
            table{
                th{
                    text-align: inherit;
                    height: 30px;
                }
                td{
                    height: 40px;
                    width: 300px;
                    vertical-align: middle;
                    &:hover{
                        color:#dfd9d9;
                        cursor: pointer;
                    }
                }    
            }
        }
        .adress{
            width: 30%;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }
            ul{
                margin-top: 30px;
                li{
                    list-style: none;
                    margin: 20px 0;
                }
            }
        }
    }
    .end{
        margin: 0 10%;
        
        .end-mess{
            display: flex;
            justify-content: space-between;
            .end-mess-1{
                display: flex;
                p{
                    margin-left: 10px;
                }
            }
            .contact{
                .you{
                    color: red;
                }
                .face{
                    color: rgb(4, 86, 250);
                }
                .size{
                    font-size: 30px;
                    margin: 0 5px;
                }
            }
        }
    }
}